*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #344054;
  font-family: Inter;
}
a{
  color: black;
  text-decoration: none;
}
ul{
  list-style: none;
}

.txt-14{
  font-size: 14px;
}
.txt-16{
  font-size: 16px;
}
.txt-18{
  font-size: 18px;
}
.txt-20{
  font-size: 20px;
}
.txt-24{
  font-size: 24px;
}
.txt-26{
  font-size: 26px;
}
.txt-36{
  font-size: 36px;
}
.txt-46{
  font-size: 46px;
}
.txt-48{
  font-size: 48px;
}
.txt-69{
  font-size: 69px;
}
.col-dark{
  color: #344054;
}
.col-white{
  color: #FFFFFF;
}
.col-orange{
  color: #F38118;
}
.trans-upper{
  text-transform: uppercase;
}
.fw-600{
  font-weight: 600;
}


.btn-dark{
  width: fit-content;
  color: #ffffff;
  padding: 12px 24px;
  background-color: #344054;
  border-radius: 80px;
}
.btn-light{
  width: fit-content;
  color: #344054;
  padding: 12px 24px;
  background-color: #F8F8F8;
  border-radius: 80px;
}
.btn-verydark{
  width: fit-content;
  color: #ffffff;
  padding: 12px 24px;
  background-color: #272F3C;
  border-radius: 80px;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.row{
  width: 100%;
  max-width: 1100px;
}
.row-full{
  width: 100%;
}

.news-line-block__wrapper{
  height: 30px;
  background-color: #344054;
}

.top-info-block__wrapper{
  display: flex;
  place-content: space-between;
  padding: 16px 0;
}
.contacts-block{
  display: flex;
}
.contacts-block img{
  width: 14px;
  height: 14px;
  margin: 0 12px 0 0;
}
.contacts-block__addr{
  display: flex;
  align-items: center;
  padding: 0 54px 0 0;
  text-transform: uppercase;
}
.contacts-block__tel{
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu-main-block{
  padding: 20px 0;
  border-top: 1px solid #D0D5DD;
  border-bottom: 1px solid #D0D5DD;
}
.menu-main{
  display: flex;
  width: 100%;
  place-content: space-between;
  text-transform: uppercase;
}

.contacts-block__burger{
  display: none;
}


.hello-block{
  padding: 90px 0;
}
.hello-block__wrapper{
  display: flex;
}
.hello-block__left{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  max-width: 475px;
}
.hello-block__info{
  display: flex;
}
.hello-block__info > div{
  display: flex;
}
.hello-block__info img{
  padding: 0 12px 0 0;
}
.hello-block__info-square{
  padding: 0 30px 0 0;
}

.hello-block__right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.training-block{
  padding: 60px 0;
  background-color: #344054;
}
.training-block__wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.training-block__subtitle{
  max-width: 80%;
  padding: 28px 0 60px 0;
}
.training-block__items{
  display: flex;
  place-content: space-between;
  width: 100%;
}
.training-block__item{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 350px;
  height: 425px;
  text-align: center;
  background-color: #ffffff;
  padding: 48px;
  border-radius: 20px;
  grid-gap: 16px;
}
.training-block__item:first-child,
.training-block__item:last-child{
  margin: 40px 0 0 0;
}

.way-block{
  padding: 160px 0 60px 0;
}
.way-block__title{
  padding: 0 0 60px 0;
}
.way-block__items{
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
  grid-row-gap: 30px;
  width: 100%;
}
.way-block__item{
  position: relative;
  width: fit-content;
}
.way-block__item-link{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.way-block__item-title{
  position: absolute;
  padding: 28px 0 0 28px;
}

.slider-block__items{
  display: flex;
  place-content: space-between;
  grid-gap: 16px;
  overflow-x: hidden;
}

.news-block{
  padding: 60px 0;
}
.news-block__title-block{
  display: flex;
  place-content: space-between;
  padding: 28px 0;
}
.news-block__frame{
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 20px;
  background-color: #F8F8F8;
}
.news-block__frame-info{
  position: absolute;
  width: fit-content;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255,255,255,.7);
}
.news-block__frame-info-bottom{
  display: flex;
  place-content: space-between;
  padding: 20px 0 0 0;
}

.inst-block__wrapper{
  position: relative;
}
.inst-block__info{
  display: flex;
  flex-flow: column;
  grid-gap: 20px;
  padding: 70px;
  margin: 190px 0;
  border-radius: 20px;
  background-color: #F8F8F8;
}
.inst-block__img{
  position: absolute;
  right: 160px;
  top: 0;
}


.trainers-block{
  padding: 60px 0;
}
.trainers-block__title-block{
  display: flex;
  place-content: space-between;
  padding: 28px 0;
}
.trainers-block__items{
  display: flex;
  place-content: space-between;
}
.trainers-block__item{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.trainers-block__frame{
  position: relative;
  width: 255px;
  height: 350px;
  border-radius: 20px;
  background-color: #F8F8F8;
}
.trainers-block__frame-title{
  padding: 40px 0 16px 0;
}

.blog-block{
  padding: 60px 0;
}
.blog-block__title-block{
  display: flex;
  place-content: space-between;
  padding: 28px 0;
}
.blog-block__items{
  display: grid;
  grid-template-columns: 445px auto;
  grid-gap: 20px;
}
.blog-block__item{
  padding: 70px 20px 20px 20px;
  border-radius: 20px;
  background-color: #F8F8F8;
}
.blog-block__item.big{
  grid-row: 1/4;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.blog-block__item-title{
  padding: 0 0 20px 0;
}

.start-block{
  background-color: #344054;
  padding: 50px 0;
}
.start-block__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 135px;
}
.start-block__subtitle{
  padding: 40px 0;
}

.map-block{
  padding: 120px 0;
}
.map-block__title{
  padding: 0 0 60px 0;
}
.map-info-block{
  display: flex;
  place-content: space-between;
}
.map-info-block__map{
  width: 730px;
  height: 380px;
  background-color: #D0D5DD;
}
.map-info-block__info{
  display: flex;
  flex-flow: column;
  place-content: space-between;
}
.map-info-block__info-item-link:not(:last-child){
  padding: 0 30px 0 0;
}


.footer-main-block{
  background-color: #344054;
}
.footer-main-block__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px;
}
.footer-main-block li{
  padding: 16px 0 0 0;
}
.footer-main-block li:first-child{
  padding: 24px 0 0 0;
}
.footer-questions-block{
  display: flex;
  flex-flow: column;
  place-content: space-between;
}

.footer-reg-block__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px;
}
.footer-reg-info-block{
  background-color: #344054;
}
.footer-reg-info-block__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.breadscrumb-block{
  padding: 40px 0 60px 0;
}
.breadscrumb-block__items{
  display: flex;
  align-items: center;
}
.breadscrumb-block__item:not(:last-child){
  padding: 0 12px 0 0;
  opacity: .5;
}


.training-ways-block{
  padding: 0 0 60px 0;
}
.training-ways-block__info{
  display: flex;
  place-content: space-between;
}
.training-ways-block__subtitle{
  max-width: 40%;
}
.training-ways-block__sort{
  display: flex;
  padding: 14px 0;
  border-bottom: 1px solid #D0D5DD;
}
.training-ways-block__sort-item{
  padding: 0 40px 0 0;
}
.training-ways-block__sort-item:not(.active){
  opacity: .5;
}

.training-ways-block__items{
  display: flex;
  flex-flow: column;
}
.training-ways-block__item{
  position: relative;
  display: flex;
  place-content: end;
  margin: 60px 0 0 0;
  background-color: #F8F8F8;
  border-radius: 20px;
}
.training-ways-block__item-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.training-ways-block__item > img{
  height: 300px;
  max-width: 280px;
}
.training-ways-block__item-info{
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 400px;
}
.training-ways-block__item-title{
  padding: 40px 0 20px 0;
}
.training-ways-block__item-subtitle{
  width: 80%;
}
.training-ways-block__item-list{
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-width: 420px;
  margin: 20px 0;
  padding: 0 50px 0 50px;
  border-left: 1px solid #D0D5DD;
}
.training-ways-block__item-list-item{
  display: flex;
  align-items: center;
}
.training-ways-block__item-list-item:not(:last-child){
  padding: 0 0 20px 0;
}
.training-ways-block__item-list-title{
  padding: 0 0 0 20px;
}



.single-usluga-hello-block{
  background-color: #F8F8F8;
}
.single-usluga-hello-block__wrapper{
  display: flex;
  align-items: center;
}
.single-usluga-hello-block__subtitle{
  padding: 30px 0 75px 0;
}
.single-usluga-hello-block__info{
  display: flex;
}
.single-usluga-hello-block__info p:first-child{
  padding: 0 30px 0 0;
}

.single-usluga-pluses-block{
  padding: 80px 0;
}
.single-usluga-pluses-block__items{
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 80px;
}
.single-usluga-pluses-block__item{
  width: 50%;
}
.single-usluga-pluses-block__item-title{
  padding: 20px 0;
}
.single-usluga-pluses-block__item-subtitle{
  max-width: 80%;
}


.rules-block{
  padding: 60px 0;
}
.rules-block__title-block{
  display: flex;
  place-content: space-between;
  padding: 28px 0;
}
.rules-block__items{
  display: flex;
  place-content: space-between;
}
.rules-block__item{
  max-width: 300px;
}
.rules-block__item-num{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #344054;
  border-radius: 50%;
}
.rules-block__item-title{
  padding: 20px 0;
}


.prices-block{
  padding: 0 0 160px 0;
}
.prices-block__items-title{
  margin: 20px 0 20px 0;
}
.prices-block__item{
  display: flex;
  place-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
  padding: 14px 40px;
  margin: 0 0 20px 0;
  border-radius: 20px;
}
.prices-block__snoska{
  text-align: center;
}


@media (max-width:1020px) {
  .txt-48{
    font-size: 36px;
  }
  .txt-69{
    font-size: 50px;
  }
  .row{
    padding: 0 45px;
  }
  .hello-block__right img{
    width: 100%;
    min-width: 375px;
  }
  .training-block__item{
    width: 206px;
    padding: 20px;
  }
  .trainers-block__items{
    /*flex-wrap: wrap;*/
    overflow-x: hidden;
    grid-gap: 20px;
  }
  .trainers-block__item{
    margin: 0 0 0 0;
  }
  .inst-block__info{
    margin: 10% 0;
    padding: 70px 50% 70px 70px;
  }
  .inst-block__img img{
    width: 201px;
  }
  .start-block__wrapper{
    grid-gap: 20px;
  }
  .start-block__left img{
    width: 350px;
  }
  .footer-main-block__wrapper{
    padding: 30px 45px;
  }
  .footer-reg-block__wrapper{
    padding: 30px 45px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer *{
    font-size: 12px;
  }


  .training-ways-block__info{
    flex-flow: column;
  }
  .training-ways-block__sort{
    flex-wrap: wrap;
  }
  .training-ways-block__subtitle{
    padding: 20px 0;
  }
  .training-ways-block__item > img{
    display: none;
  }
  .training-ways-block__item-info{
    padding: 20px;
  }
  .training-ways-block__item-list{
    min-width: unset;
    width: 50%;
  }
}



@media (max-width:768px) {

  .contacts-block__addr{
    display: none;
  }
  .contacts-block__tel{
    display: none;
  }

  .contacts-block__burger {
    display: inline-block;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  .active .bar2 {
    opacity: 0;
  }
  .active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .top-info-block__wrapper{
    padding: 45px;
  }
  .menu-main-block{
    display: none;
    padding: 0;
    border: 0;
  }
  .menu-main-block.active{
    display: flex;
  }
  .menu-main-block{
    position: relative;
  }
  .menu-main-block__wrapper{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 999;
  }
  .menu-main{
    flex-flow: column;
    grid-gap: 20px;
    padding: 20px;
  }

  .hello-block__right{
    display: none;
  }
  .hello-block__info{
    justify-content: center;
  }
  .hello-block__subtitle{
    text-align: center;
    padding: 45px 0;
  }
  .hello-block__link{
    align-self: center;
    margin: 60px 0 0 0;
  }
  .training-block__items{
    flex-flow: column;
  }
  .training-block__item{
    width: 100%;
    margin: 40px 0 0 0;
  }
  .way-block__item{
    width: 100%;
  }
  .way-block__item img{
    width: 100%;
  }
  .news-block__frame-info{
    bottom: 0;
    left: 0;
  }
  .inst-block__img{
    display: none;
  }
  .inst-block__info{
    padding: 70px;
  }
  .blog-block__items{
    grid-template-columns: 1fr;
  }
  .start-block__left{
    display: none;
  }
  .map-info-block{
    flex-flow: column;
  }
  .map-info-block__map{
    width: 100%;
  }
  .map-info-block__info-item{
    padding: 10px 0;
  }
  .footer-main-block__wrapper{
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .footer-main-block__wrapper > img{
    grid-column: 1/3;
  }
  .footer-questions-block{
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .footer-questions-block > *{
    margin: 0 0 20px 0;
  }
  .footer-reg-block__wrapper{
    grid-template-columns: 1fr 1fr;
  }



  .single-usluga-hello-block__right{
    display: none;
  }
  .single-usluga-hello-block__wrapper{
    padding: 45px;
  }
  .single-usluga-pluses-block__items{
    flex-flow: column;
    grid-row-gap: 40px;
  }
  .single-usluga-pluses-block__item{
    width: 100%;
  }
  .rules-block__items{
    flex-flow: column;
    grid-row-gap: 40px;
  }
  .prices-block__item{
    flex-flow: column;
  }
  .training-ways-block__item{
    flex-flow: column;
  }
  .training-ways-block__item-list{
    border: 0;
    width: 100%;
  }

}
